@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,400;0,700;1,400&family=Inter:wght@700&display=swap');

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@keyframes animateGradient {
  0% {
    transform: translateY(+100%);
    opacity: 0%;
  }

  100% {
    transform: translateY(+10%);
    opacity: 100%;
  }
}

@keyframes tooltip {
  0% {
    top: 0;
    opacity: 0%;
  }

  50% {
    top: -10px;
    opacity: 100%;
  }

  100% {
    top: -20px;
    opacity: 0%;
  }
}

@keyframes start {
  0% {
    opacity: 0%;
  }

  100% {
    opacity: 100%;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

body {
  background-color: black !important;
  background-size: 200%;
  height: 100vh;
  overflow: hidden;
  margin: 0px;
}

#noise {
  pointer-events: none;
  height: 100vh;
  width: 100vw;
  z-index: 99;
  mix-blend-mode: overlay;
  position: absolute;
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADIAAAAyCAMAAAAp4XiDAAAAUVBMVEWFhYWDg4N3d3dtbW17e3t1dXWBgYGHh4d5eXlzc3OLi4ubm5uVlZWPj4+NjY19fX2JiYl/f39ra2uRkZGZmZlpaWmXl5dvb29xcXGTk5NnZ2c8TV1mAAAAG3RSTlNAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEAvEOwtAAAFVklEQVR4XpWWB67c2BUFb3g557T/hRo9/WUMZHlgr4Bg8Z4qQgQJlHI4A8SzFVrapvmTF9O7dmYRFZ60YiBhJRCgh1FYhiLAmdvX0CzTOpNE77ME0Zty/nWWzchDtiqrmQDeuv3powQ5ta2eN0FY0InkqDD73lT9c9lEzwUNqgFHs9VQce3TVClFCQrSTfOiYkVJQBmpbq2L6iZavPnAPcoU0dSw0SUTqz/GtrGuXfbyyBniKykOWQWGqwwMA7QiYAxi+IlPdqo+hYHnUt5ZPfnsHJyNiDtnpJyayNBkF6cWoYGAMY92U2hXHF/C1M8uP/ZtYdiuj26UdAdQQSXQErwSOMzt/XWRWAz5GuSBIkwG1H3FabJ2OsUOUhGC6tK4EMtJO0ttC6IBD3kM0ve0tJwMdSfjZo+EEISaeTr9P3wYrGjXqyC1krcKdhMpxEnt5JetoulscpyzhXN5FRpuPHvbeQaKxFAEB6EN+cYN6xD7RYGpXpNndMmZgM5Dcs3YSNFDHUo2LGfZuukSWyUYirJAdYbF3MfqEKmjM+I2EfhA94iG3L7uKrR+GdWD73ydlIB+6hgref1QTlmgmbM3/LeX5GI1Ux1RWpgxpLuZ2+I+IjzZ8wqE4nilvQdkUdfhzI5QDWy+kw5Wgg2pGpeEVeCCA7b85BO3F9DzxB3cdqvBzWcmzbyMiqhzuYqtHRVG2y4x+KOlnyqla8AoWWpuBoYRxzXrfKuILl6SfiWCbjxoZJUaCBj1CjH7GIaDbc9kqBY3W/Rgjda1iqQcOJu2WW+76pZC9QG7M00dffe9hNnseupFL53r8F7YHSwJWUKP2q+k7RdsxyOB11n0xtOvnW4irMMFNV4H0uqwS5ExsmP9AxbDTc9JwgneAT5vTiUSm1E7BSflSt3bfa1tv8Di3R8n3Af7MNWzs49hmauE2wP+ttrq+AsWpFG2awvsuOqbipWHgtuvuaAE+A1Z/7gC9hesnr+7wqCwG8c5yAg3AL1fm8T9AZtp/bbJGwl1pNrE7RuOX7PeMRUERVaPpEs+yqeoSmuOlokqw49pgomjLeh7icHNlG19yjs6XXOMedYm5xH2YxpV2tc0Ro2jJfxC50ApuxGob7lMsxfTbeUv07TyYxpeLucEH1gNd4IKH2LAg5TdVhlCafZvpskfncCfx8pOhJzd76bJWeYFnFciwcYfubRc12Ip/ppIhA1/mSZ/RxjFDrJC5xifFjJpY2Xl5zXdguFqYyTR1zSp1Y9p+tktDYYSNflcxI0iyO4TPBdlRcpeqjK/piF5bklq77VSEaA+z8qmJTFzIWiitbnzR794USKBUaT0NTEsVjZqLaFVqJoPN9ODG70IPbfBHKK+/q/AWR0tJzYHRULOa4MP+W/HfGadZUbfw177G7j/OGbIs8TahLyynl4X4RinF793Oz+BU0saXtUHrVBFT/DnA3ctNPoGbs4hRIjTok8i+algT1lTHi4SxFvONKNrgQFAq2/gFnWMXgwffgYMJpiKYkmW3tTg3ZQ9Jq+f8XN+A5eeUKHWvJWJ2sgJ1Sop+wwhqFVijqWaJhwtD8MNlSBeWNNWTa5Z5kPZw5+LbVT99wqTdx29lMUH4OIG/D86ruKEauBjvH5xy6um/Sfj7ei6UUVk4AIl3MyD4MSSTOFgSwsH/QJWaQ5as7ZcmgBZkzjjU1UrQ74ci1gWBCSGHtuV1H2mhSnO3Wp/3fEV5a+4wz//6qy8JxjZsmxxy5+4w9CDNJY09T072iKG0EnOS0arEYgXqYnXcYHwjTtUNAcMelOd4xpkoqiTYICWFq0JSiPfPDQdnt+4/wuqcXY47QILbgAAAABJRU5ErkJggg==);
}

#tiles {
  height: calc(100vh + 2px);
  width: calc(100vw + 2px);
  position: absolute;
  transform: translate(-1px, -1px);
  z-index: 2;
  background-color: rgb(100, 100, 100);
  display: grid;
  grid-template-columns: repeat(var(--columns), 1fr);
  grid-template-rows: repeat(var(--rows), 1fr);
}

.gradients {
  z-index: 4;
  position: absolute;
  bottom: 0;
  left: 0;
  opacity: 0%;
  animation: 2s ease-in-out 1 animateGradient normal forwards;
}

.tile {
  position: relative;
}

.tile:hover:before {
  background-color: rgb(0, 0, 0);
}

.tile:before {
  background-color: rgb(0, 0, 0);
  content: "";
  inset: 0.5px;
  position: absolute;
}

.ml16 {
  color: #ffffff !important;
  font-family: 'Inter', sans-serif;
  font-size: 6rem;
  overflow: hidden;
  font-weight: 700;
  transition: ease all .5s;
  white-space: nowrap;
}


.ml16 .letter {
  opacity: 0%;
  color: #ffffff !important;
  display: inline-block;
  line-height: 1em;
  
}

.vignette {
  overflow: hidden;
  position: fixed;
  width: 100vw;
  height: 100vh;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 3;
  background: radial-gradient(66.85% 66.85% at 50% 33.15%, rgba(0, 0, 0, 0) 0%, #000000 100%);
}

#main-content {
  opacity: 0%;
  animation: 1s ease-out 0s 1 start normal forwards;
  animation-delay: 1s;
  z-index: 9;
  position: absolute;
  display: flex;
  width: 100vw;
  height: 100vh;
  padding: 25px 80px;
}

#logo-wrapper {
  height: 100%;
  width: fit-content;
  margin-right: 5vw;
}

#logo {
  transition: ease all .5s;
  height: 100%;
}

#terminal {
  display: flex;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  transform-style: preserve-3d;
  transform: perspective(5000px) rotateY(var(--rotateX)) rotateX(var(--rotateY));
}

#terminal-right {
  transition: 0.25s;
  padding-left: 40px;
  padding-top: 40px;
  padding-bottom: 40px;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: flex-start;
  align-content: normal;
  width: 100%;
  border-color: #575757;
  border-style: solid;
  border-width: 1px 0px 1px 1px;
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
  background-image: linear-gradient(180deg, #0f0f0f, rgba(15, 15, 15, 0.2));
  background: linear-gradient(180deg, #0F0F0F, rgba(15, 15, 15, 0.2)), linear-gradient(95deg, #0f0f0fea 15%, rgba(0, 0, 0, 0) 80%);
  box-shadow: -40px 40px 50px rgba(0, 0, 0, 0.345);
}

#terminal-left {
  transition: 0.25s;
  height: 100%;
  transform: translate(-1px, 0px);
  box-shadow: 40px 40px 50px rgba(0, 0, 0, 0.345);
  border-radius: 0px 15vmin 5vmin 0px;
}

.terminal-text {
  white-space: pre-wrap;
  color: #ffffff !important;
  font-family: 'Azeret Mono';
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  overflow: hidden;
  max-width: 600px;
  word-wrap: break-word;
  margin-left: 1vw;

}

#terminal-text-container {
  max-width: 100%;
  word-wrap: normal;
  display: flex;

}

.ping {
  margin-left: -20px;
  margin-top: -5px;
  width: 30px;
  height: 30px;
  position: absolute;
  margin-right: 10px;
}

#coords {
  color: #ffffff6f !important;
  font-family: 'Inter', sans-serif;
  font-style: italic;
  font-size: 20px;
  overflow: hidden;
  font-weight: 300;
}

#strip {
  transform: rotate(-20deg) translate(-140px, 0px);
  position: absolute;
  z-index: 10;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.824);
}

#button {
  width: 40%;
  position: absolute;
  z-index: 95;
  top: 30%;
  right: 1%;
  border-radius: 100px;
  transition: width 0.25s ease-in-out, opacity 0.25s ease-in-out;
  opacity: 100%;
  transition: 0.25s;
  animation: rotate 10s linear infinite;
  filter: drop-shadow(0px 0px 60px #ffc22780);
}

#button:hover {
  width: 50%;
}

#button:active {
  width: 48%;
}

::selection {
  background-color: #ffc227;
  color: black;
}

#socials {
  transition: 0.25s;
  display: flex;
  opacity: 0%;
  margin-top: 100px;
  transition: margin-top 0.25s, opacity 0.25s;
  cursor: default;
  pointer-events: none;
}

.social-box {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  box-sizing: border-box;
  width: 100px;
  height: 100px;
  background: rgba(255, 255, 255, 0.05);
  border: 1px solid #333333;
  box-shadow: 0px 4px 18px rgba(0, 0, 0, 0.25);
  border-radius: 17px;
  margin-right: 20px;
  transition: margin-top 0.25s;
  transform: translateY(0px);
}

.social-box:hover {
  margin-top: -5px;
  box-shadow: 0px 4px 50px rgba(0, 0, 0, 0.25);
}

.social-icon {
  height: 60px;
}

#discord {
  transition: 0.25s;
}

#discord:active {
  margin-top: -10px;
}

.tooltip {
  animation: tooltip 0.5s ease-in-out forwards;
  -webkit-animation: tooltip 0.5s ease-in-out forwards;
  -webkit-backface-visibility: hidden;
}

#tooltip {
  text-align: center;
  width: 100%;
  position: absolute;
  color: white;
  font-family: 'Inter', sans-serif;
  top: 0;
  opacity: 0%;
}

#Mobile-support {
  visibility: hidden;
  height: 100vh;
  width: 100vw;
  z-index: 1000;
  background-color: #000000a4;
  position: absolute;
  backdrop-filter: blur(10px);
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#spotify-player-container {
  position: absolute;
  top: 10.5rem;
  transition: 0.25s;
  box-sizing: border-box;
  width: 25rem;
  height: 6rem;
  background: rgba(255, 255, 255, 0.05);
  border: 1px solid #333333;
  box-shadow: 0px 4px 18px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  font-family: 'Inter', sans-serif;
  display: flex;
  align-items: center;
  padding: 13px;
}

#spotify-player-container:hover {
  cursor: pointer;
  margin-top: -6px;
  box-shadow: 0px 4px 50px rgba(0, 0, 0, 0.25);
}

.hoverPlayer:active {
  margin-top: -5px;
  transform: scale(0.97);
  box-shadow: 0px 4px 50px rgba(0, 0, 0, 0.25);
}

#cover {
  margin-right: 10px;
  border-radius: 5px;
  height: 100%;
}

#song-details {
  height: 100%;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-content: space-between;
  font-size: 10px;
  align-items: flex-start;
  color: aliceblue;
  max-height: 100%;
  margin-top: 0;
  margin-bottom: 0;
}

#song {
  font-size: 1rem;
  font-weight: 700;
  margin-bottom: 0.2rem;
}

#artist {
  font-size: 0.6rem;
  color: rgba(255, 255, 255, 0.697);
  font-weight: 300;
}

#spotify-logo {
  height: 50%;
  margin-right: 5px;
}
@media (max-width: 1280px) {
  #terminal-text-container {
    max-width: 40vw;
  }
  #coords {
    font-size: 1.2rem;
  }
  .terminal-text {
    
    font-size: 0.8rem;
  }
  .ml16 {
    font-size: 6vw;
  }
}

@media (max-width: 1040px) {
  #logo {
    opacity: 0%;
    width: 0;
    margin-right: 0;
  }
  #terminal-text-container {
    max-width: 50vw;
    margin-right: -5rem;

  }
  #spotify-player-container {
    width: 22rem;
  }
  #socials {
    transform: scale(0.8);
    top: 20%;
    flex-direction: column;
    position: absolute;
  }
  .social-box {
    margin-bottom: 1rem;
    transition: 0.25s;
  }
  .social-box:hover {
    transform: translateX(-0.5rem);
  }
  #button {
    width: 45%;
    margin-bottom: -100rem;
  }
  #button:hover {
    width: 55%;
    margin-bottom: -100rem;
  }
  #button:active {
    width: 50%;
    margin-bottom: -100rem;
  }
  #coords {
    font-size: 1.2rem;
  }
  .terminal-text {
    font-size: 0.8rem;
    width: 100%;
  }
  .ml16 {
    font-size: 8.5vw;
    margin-right: -10rem;
  }
  #logo-wrapper {
    width: 0;
    margin-right: 0;
  }

  #main-content {
    padding: 1rem;
  }

  #strip {
    width: 50rem;
    transform: scale(0.6) rotate(-20deg);
    margin-left: -20rem;
  }

  #spotify-player-container {
    top: 10rem;
  }
}

@media (max-width: 1040px) and (max-height: 750px) {
  #socials {
    transform: scale(0.8);
    top: 25vh;
    flex-direction: row;
    position: absolute;
  }
  .social-box {
    margin-bottom: 1rem;
    transition: 0.25s;
  }
  .social-box:hover {
    transform: translateY(-0.5rem);
  }
}

@media (max-width: 600px) or (max-height: 550px)  {
  /* for mobile devices - show mobile not supported */
  #main-content {
    visibility: hidden;
  }
  #Mobile-support {
    visibility: visible;
  }
}
